{% extends 'blog/tweets.html' %}

{% block title %}
    <title>My Page</title>
{% endblock %}

{% block before_posts %}


{% load crispy_forms_tags %}

    <div class="container float-left">
        <hr class="mt-0 mb-4">
    </div>

    <div class="container float-left">
        <div class="mx-auto" >

            <div class="card border-0" style="min-width: 50vw;">
                    <h1 class="mt-2">What is on your mind {{ user.get_username }}? </h1>
                    <hr class="mt-0 mb-4">

                    <form method="POST" action="/feed/">
                        {% csrf_token %}
                        {{ new_post|crispy }}
                        <button type="submit" class="btn btn-success float-right", name="Publish">Publish</button>

                    </form>
            </div>
        </div>
    </div>

    <div class="container float-left">
        <hr class="mt-10 mb-4">
    </div>

{% endblock %}
